.text-input {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    width: 200px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--light-color-secondary);
    caret-color: var(--light-color);
    outline: none;
    color: var(--light-color);
}

.form-button {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--main-color);
}

.form-button:hover {
    background-color: var(--main-color-light)
}